<div class="activity-box">
  <div class="spring-box season-box">
    <h1 class="spring-logo season-logo"><span class="spring">SPRING</span><br> ACTIVITIES</h1>
    <div class="spring-text season-text">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
      </ul>
      <a ng-click="expand1 = !expand1" class="sizer" href="javascript:void(0)" ng-show="!expand1" >More </a>
      <div class="slide" ng-show="expand1">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        </ul>
        <a ng-click="expand1 = !expand1" class="sizer" href="javascript:void(0)" >Less </a>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="summer-box season-box">
    <h1 class="summer-logo season-logo"> <span class="summer">SUMMER</span><br>ACTIVITIES</h1>
    <div class="summer-text season-text">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
      </ul>
      <a ng-click="expand2 = !expand2" class="sizer" href="javascript:void(0)" ng-show="!expand2">More</a>
      <div class="slide" ng-show="expand2">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        </ul>
        <a ng-click="expand2 = !expand2" class="sizer" href="javascript:void(0)" >Less </a>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="autumn-box season-box">
    <h1 class="autumn-logo season-logo"><span class="autumn">AUTUMN</span><br>  ACTIVITIES</h1>
    <div class="autumn-text season-text">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
      </ul>
      <a ng-click="expand3 = !expand3" class="sizer" href="javascript:void(0)" ng-show="!expand3">More </a>
      <div class="slide" ng-show="expand3">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        </ul>
        <a ng-click="expand3 = !expand3" class="sizer" href="javascript:void(0)" >Less </a>

      </div>
    </div>
    <div class="clear"></div>
  </div>



  <div class="winter-box season-box">
    <h1 class="winter-logo season-logo"><span class="winter">WINTER</span> <br> ACTIVITIES</h1>
    <div class="winter-text season-text">
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
      </ul>
      <a ng-click="expand4 = !expand4" class="sizer" href="javascript:void(0)" ng-show="!expand4">More </a>
      <div class="slide" ng-show="expand4">
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo dui mauris, at dignissim mauris dictum ac. Donec ornare mi et ligula consectetur feugiat</li>
        </ul>
        <a ng-click="expand4 = !expand4" class="sizer" href="javascript:void(0)" >Less </a>
      </div>
    </div>

    <div class="clear"></div>
  </div>
